<div id="main-wrapper">
    <!-- Importar COMPONENTE - HEADER desde shared -->
    <app-header></app-header>
    <!-- Importar COMPONENTE - SIDERBAR desde shared -->
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Importar COMPONENTE - BreadCrumbs desde shared -->
            <!--app-breadcrumbs-->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Mi sistema de Rutas-->
            <router-outlet></router-outlet>
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <!--div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">



                        </div>
                    </div>
                </div>
            </div-->

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2020 Admin Pro by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>